n8n/Chat Livre.json
{
  "name": "teste-chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Você é o AuxCoach, um personal trainer e nutricionista virtual do app AuxFit.\nResponda de forma direta, amigável e técnica, sem usar linguagem de robô.\nSeja motivador e simples. Use no máximo 4 frases por resposta.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "70df56ee-f715-46b0-a5b8-2e1dda7a8a81",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        240
      ],
      "id": "434b3086-b97d-4882-a0cd-161274538a9c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XjZ5xRCKwX57SouH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        0
      ],
      "id": "cb43c140-3f9f-4410-8cb9-755d6c65b796",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        432
      ],
      "id": "e69b6dd1-abcd-403a-b458-213a9543ed1f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "f6a310d8-7798-4f41-8849-8d721e015b70",
      "name": "Webhook",
      "webhookId": "9d2f0d02-1489-42bf-b44f-ec43f33c4e64"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6874a4f-b41b-41fa-8983-7cd62ec81ed1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00fe7c9f37710aa16cfc6b829729754f2c57829556460b4254e31b439e02f833"
  },
  "id": "BUczo8sOaycIrFYv",
  "tags": [
    {
      "updatedAt": "2025-11-12T18:30:18.714Z",
      "createdAt": "2025-11-12T18:30:18.714Z",
      "id": "IS39MqHa9Nru8Z1H",
      "name": "chatbot"
    },
    {
      "updatedAt": "2025-11-12T18:30:03.312Z",
      "createdAt": "2025-11-12T18:30:03.312Z",
      "id": "bt9PTXqCb3hsEVYO",
      "name": "teste"
    }
  ]
}